.search{
  
 
&-panel{
display: flex;

}
&-input{
  width: 295px;
  margin-top: 5px;
  margin-left: 5px;
  height: 38px;
  border: solid  1px #99999B;
  border-right: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 10px;
  &-timer{
    width: 65px;
    margin-top: 5px;
    height: 38px;
    border: solid  1px #99999B;
    border-right: 0;
    border-left: 0;
    padding: 10px;
    &:last-of-type{
      border-right: solid  1px #99999B;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}

.taskfilter-panel-btn{
  margin: 5px;
  border: solid  1px #99999B;
  border-radius: 8px;
 
}
  .btn{
    &:first-child{
      margin-right: 0;
    }
  }
  .btn-outline-danger{
    border-color:  gray;
    color: rgb(99, 96, 96);
    &:hover{
      background-color:  grey;
      border-color: grey;
      color: white;
    }
    &:focus{
      box-shadow: 0 0 0 0.2rem rgba(109, 117, 131, 0.5);
    }
}
}
