.task{
 font-size: 20px;
 display: flex;
 word-break: break-all;

 &__clock{
  display: flex;
  position: relative;
  top: 15px;
  right: 20px;
  @media (max-width: 600px) {
    width: 100%;
    left: 84px;
  }
 }
 &-item{
  display: flex;
  width: 320px;
  height: auto;

 }
 &__time{
  font-size: 10px;
  position: absolute;
  right: 120px;
 }
}
.text{
margin-left: 10px;
cursor: auto;
}
.edited{
	height: 50px;
	display: flex;
	align-items: center;
  .btn{
    margin-left: auto;
    margin-right: 0;
    &:last-child{
      margin-left: 5px;
    }
    
    }
  .btn-outline-danger:last-child{
    border-color: #8CB84A;
    color: #8CB84A;
    &:hover{
      background-color:  #8CB84A;
      border-color: #8CB84A;
      color: white;
    }
    &:focus{
      box-shadow: 0 0 0 0.25rem rgba(105, 209, 113, 0.5);;
    }
  }
&__input{
	height: 40px;
	width: 90%;
  padding: 10px;
&::placeholder{
	font-size: 20px;
}
}
}